[paths]
source =
   src/cerberus_ac
   */site-packages/cerberus_ac

[run]
branch = true
source =
    cerberus_ac
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit =
    *migrations*
    tests/*
