{% load static %}
<script src="{% static "cerberus_ac/js/jquery-3.1.1.min.js" %}"></script>
<script src="{% static "cerberus_ac/js/bootstrap.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "cerberus_ac/css/bootstrap.min.css" %}" media="screen" />

<script>
$('.collapse').on('show.bs.collapse', function () {
    $('.collapse.in').collapse('hide');
});
</script>

<style>
    .hiddenRow {
        padding: 0 !important;
    }
</style>

{% block title %}{% trans "Edit User Permissions" %} - CerberusAC{% endblock %}

<div class="">
    <div class="col-md-10">
        <div class="table-responsive">
            <table id="editprivtable" class="table table-hover table-condensed" style="border-collapse:collapse;">
                <thead>
                    <tr>
                        <th>User</th>
                        {% for r in resources %}
                            <th>{{ r }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for m in members %}
                    <form action="{% url "edit_user_permissions" m.id %}" method="POST">
                        <tr data-toggle="collapse" data-target=".userrow{{ m.id }}">
                            <td>{{ m.username }}</td>
                        </tr>
                        <tr>
                            <td class="text-center hiddenRow">
                                <div id="userrow{{ m.id }}" class="collapse userrow{{ m.id }}">
                                    ID : {{ m.id }}<br>
                                    Groups: {{ m.get_groups }}<br>
                                    Username : {{ m.username }}<br>
                                    Mail : {{ m.email }} <br>
                                    Active : {{ m.is_active }}<br>
                                    Last login: {{ m.last_login }}<br>
                                    Register date: {{ m.date_joined }}<br>
                                </div>
                            </td>
                            {% for r in resources %}
                                <td class="hiddenRow" colspan="2">
                                    <div class="row">
                                        <div class="collapse userrow{{ m.id }}" colspan="1">
                                            <div class="text-left">Allow</div>
                                            <div class="checkbox">
                                                <label><input id="ALLOWC{{ m.id }}{{ r.id }}" type="checkbox"/>CREATE</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input id="ALLOWR{{ m.id }}{{ r.id }}" type="checkbox"/>READ</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input id="ALLOWU{{ m.id }}{{ r.id }}" type="checkbox"/>UPDATE</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input id="ALLOWD{{ m.id }}{{ r.id }}" type="checkbox"/>DELETE</label>
                                            </div>
                                        </div>
                                        <div class="collapse userrow{{ m.id }} col-md-offset-6" colspan="1">
                                            <div class="text-left">DENY</div>
                                            <div class="checkbox">
                                                <label><input id="DENYC{{ m.id }}{{ r.id }}" type="checkbox"/>CREATE</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input id="DENYR{{ m.id }}{{ r.id }}" type="checkbox"/>READ</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input id="DENYU{{ m.id }}{{ r.id }}" type="checkbox"/>UPDATE</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input id="DENYD{{ m.id }}{{ r.id }}" type="checkbox"/>DELETE</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    </form>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9">{{sizes}}
                            <div class="text-center">
                                <ul class="pagination">
                                    <li ng-class="{disabled: currentPage == 0}">
                                        <a href="javascript:;" ng-click="prevPage()">« Prev</a>
                                    </li>
                                    <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                        <a href="javascript:;" ng-bind="n + 1">1</a>
                                    </li>
                                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                        <a href="javascript:;" ng-click="nextPage()">Next »</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>
